{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper fadeInDown">
        {%if messages%}
        {%for message in messages%}
           <span style="color:red;"> {{message}}</span>
        {%endfor%}
        {%endif%}
      <div id="formContent">
        <!-- Tabs Titles -->
        
        <!-- Icon -->
        <div class="fadeIn first">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png"
            id="icon"
            alt="User Icon"
            class="usericon"
            
          />
        </div>

        <!-- Register Form -->
        <form action='' method='post'>
            {% csrf_token %}
          <input
            type="email"
            id="login"
            class="fadeIn second"
            name="email"
            placeholder="Email"
            required
          />
          <input
            type="password"
            id="pass"
            class="fadeIn third"
            name="password"
            placeholder="Password"
          />

          <input
            type="password"
            id="pass2"
            class="fadeIn third"
            name="password2"
            placeholder="Confirm Password"
          />
          <input type="submit" id='submit' class="fadeIn fourth" value="Log In" />
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
          
          
          <a class="underlineHover" href={% url 'login' %}>Login</a>
        </div>
       
    </div>
    <script>
     $(document).ready(function(){
    $('#pass2').focusout(function(){
        var pass = $('#pass').val();
        var pass2 = $('#pass2').val();
        if(pass != pass2){
            alert('the passwords didn\'t match!');
        }

    });
});
    </script>
  </body>
</html>

<!------ Include the above in your HEAD tag ---------->
